.side {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title {
    -unity-text-align: upper-center;
    font-size: 25px;
}

.clipBtnSelected {
    align-items: center;
    width: 240px;
    color: rgb(135, 133, 133);
}

.clipBtnUnselected {
    align-items: center;
    width: 240px;
}
