.side {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title {
    -unity-text-align: upper-center;
    font-size: 25px;
}

.clipBtnSelected {
    align-items: center;
    width: 240px;
    color: rgb(243, 240, 240);
    -unity-font-style: normal;
    background-color: rgb(110, 152, 101);
    font-size: 15px;
}

.clipBtnUnselected {
    align-items: center;
    width: 240px;
    -unity-font-style: italic;
}
